<app-auth-layout>
  <div class="h-full" auth-form>
    <!--Form Header-->
    <app-auth-header [title]="'RESET.TITLE' | translate" [description]="'RESET.DESCRIPTION' | translate"
      [linkText]="'RESET.SIGN_IN' | translate" linkUrl="/auth/login">
    </app-auth-header>

    <!---Start Of Form-->
    <form [formGroup]="resetForm" (ngSubmit)="onResetPass()" class="pb-8">
      <!-- Email -->
      <app-form-field [control]="form['email']" type="email" label="RESET.EMAIL_LABEL"
        placeholder="RESET.EMAIL_PLACEHOLDER" [errorMessages]="{
    required: 'RESET.EMAIL_REQUIRED',
    email: 'RESET.EMAIL_INVALID'
  }">
      </app-form-field>

      <!-- OTP -->
      <app-form-field [control]="form['seed']" type="text" label="RESET.OTP_LABEL" placeholder="RESET.EMAIL_PLACEHOLDER"
        [errorMessages]="{
    required: 'RESET.OTP_REQUIRED'
  }">
      </app-form-field>

      <!-- Password -->
      <app-form-field [control]="form['password']" type="password" label="RESET.PASSWORD_LABEL"
        placeholder="RESET.EMAIL_PLACEHOLDER" [errorMessages]="{
        required: 'RESET.PASSWORD_REQUIRED',
        pattern: 'RESET.PASSWORD_PATTERN'
      }">
      </app-form-field>

      <!-- Confirm Password -->
      <app-form-field [control]="form['confirmPassword']" type="password" label="RESET.CONFIRM_PASSWORD_LABEL"
        placeholder="RESET.EMAIL_PLACEHOLDER" [errorMessages]="{
          required: 'RESET.CONFIRM_PASSWORD_REQUIRED'
        }" [customError]="
          resetForm.hasError('passwordMismatch') &&
          (form['confirmPassword'].touched || form['confirmPassword'].dirty)
        " customErrorMessage="RESET.PASSWORDS_DO_NOT_MATCH">
      </app-form-field>
      <div class="mt-[50px]">
        <p-button type="submit" [label]="'RESET.RESET_BUTTON' | translate" [loading]="loading()" styleClass="w-full">
        </p-button>
      </div>
    </form>
  </div>

  <!-- IMAGE SLOT -->
  <div auth-image class="w-full h-full">
    <app-auth-image-section imageSrc="/images/Reset-img.png" [imageAlt]="'RESET.IMAGE_ALT' | translate"
      [title]="'RESET.TITLE' | translate" [subtitle]="'LOGIN.HEADER_DESC' | translate">
    </app-auth-image-section>
  </div>
</app-auth-layout>
