<p-dialog
  [header]="isEditMode ? 'Edit Ad' : 'Add Ad'"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '500px' }"
  (onHide)="close()"
>
  <form [formGroup]="form" class="flex flex-col gap-4">
    <!-- Room ID -->
    <div>
      <label class="block mb-2 text-sm font-medium"> Room ID </label>

      <input pInputText formControlName="roomId" class="w-full" />

      @if (
        form.get('roomId')?.invalid && (form.get('roomId')?.dirty || form.get('roomId')?.touched)
      ) {
        <small class="text-red-500"> Room is required </small>
      }
    </div>

    <!-- Active -->
    <div class="flex items-center justify-between">
      <span class="font-medium"> Active </span>

      <!-- <p-inputSwitch formControlName="isActive"> </p-inputSwitch> -->
    </div>
  </form>

  <ng-template pTemplate="footer">
    <div class="flex justify-end gap-2">
      <p-button label="Cancel" severity="secondary" (click)="close()"> </p-button>

      <p-button [label]="isEditMode ? 'Update' : 'Create'" [loading]="loading" (click)="save()">
      </p-button>
    </div>
  </ng-template>
</p-dialog>
