<p-toast />
<div class="admin-dashboard">
  <div class="min-h-screen p-4 md:p-6">
    <!-- Stat Cards -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-[50px] mb-6">
      @if (mainData(); as data) {
        <app-statics-card [entityValue]="data.rooms" [entityName]="'Rooms'"> </app-statics-card>
        <app-statics-card [entityValue]="data.facilities" [entityName]="'Facilities'">
        </app-statics-card>
        <app-statics-card [entityValue]="data.ads" [entityName]="'Ads'"> </app-statics-card>
      }
    </div>

    <!-- Charts Row -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-6">
      <!-- Booking Status Donut -->
      @if (mainData(); as data) {
        <app-user-chart [bookings]="data.bookings" />
      }
      <app-user-chart></app-user-chart>
    </div>
  </div>
</div>
