<div class="min-h-screen flex">

  <!-- Left side (form area) -->
  <div class="w-full md:w-1/2  bg-white">
    <div class="py-[28px] px-[48px]">
      <img src="../images/logo.svg">
    </div>
    <div class="w-full max-w-lg flex flex-col items-center mx-auto">
      <ng-content select="[auth-form]"></ng-content>
    </div>
  </div>

  <!-- Right side (image area) -->
  <div class="hidden md:flex w-1/2 items-center justify-center">
    <ng-content select="[auth-image]"></ng-content>
  </div>

</div>
