.img-container {
  position: relative;

  &::after {
    content: "";
    position: absolute;

    width: 92%;
    height: 96%;

    inset-block-start: 11%;
    inset-inline-start: 13%;

    border: 2px solid var(--hero-border);
    border-radius: 15px;

    z-index: -1;
  }
}

.date-icon {
  height: 45px;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

:host ::ng-deep {
  .p-inputtext,
  .p-datepicker-input,
  .p-inputnumber-input {
    background: var(--input-bg);
    color: var(--input-text);
    border-color: var(--input-border);
  }

  .p-inputnumber-horizontal .p-inputnumber-decrement-button {
    width: 70px !important;
    background: var(--decrement-bg) !important;
    border-color: var(--decrement-bg) !important;
    color: #fff !important;
  }

  .p-inputnumber-horizontal .p-inputnumber-increment-button {
    width: 70px !important;
    background: var(--increment-bg) !important;
    border-color: var(--increment-bg) !important;
    color: #fff !important;
  }

  .p-datepicker-prev-button:dir(rtl),
  .p-datepicker-next-button:dir(rtl) {
    transform: rotate(180deg);
  }
}
