<p-dialog [modal]="true" [(visible)]="visible" [style]="{ width: '550px' }"
  [style]="{ width: '40rem', maxWidth: '95vw' }" [breakpoints]="{
    '1280px': '70vw',
    '1024px': '80vw',
    '768px': '90vw',
    '640px': '95vw',
  }" (onHide)="onHide()">
  <ng-template pTemplate="header">
    <div class="flex items-center gap-2">
      <i class="pi pi-eye text-gray-400 dark:text-text-secondary"></i>
      <span class="font-md">{{ 'USER_FORM.HEADER' | translate }}</span>
    </div>
  </ng-template>
  <div class="user-form">
    <form class="pb-10" [formGroup]="registerForm">
      <div class="">
        <div class="profile-upload-wrapper mx-auto">
          <p-fileupload #fu chooseIcon="pi pi-upload" accept="image/*" maxFileSize="1000000" [customUpload]="true"
            [auto]="true" (onSelect)="onSelect($event)" (onClear)="onClear()" class="profile-upload" aria-required />
        </div>
        @if (form['profileImage'].touched && form['profileImage'].invalid) {
        <small class="text-red-500 my-2">{{ 'USER_FORM.PROFILE_IMAGE_REQUIRED' | translate }}</small>
        }
      </div>

      <!-- User Name -->
      <app-form-field [control]="form['userName']" label="USER_FORM.USER_NAME_LABEL"
        placeholder="USER_FORM.USER_NAME_PLACEHOLDER" [errorMessages]="{
    required: 'USER_FORM.USER_NAME_REQUIRED',
    minlength: 'USER_FORM.USER_NAME_MINLENGTH',
    maxlength: 'USER_FORM.USER_NAME_MAXLENGTH'
  }">
      </app-form-field>

      <div class="mb-[2rem] flex justify-content-between align-items-center gap-3">

        <!-- Phone Number -->
        <div class="w-[50%]">
          <app-form-field [control]="form['phoneNumber']" label="USER_FORM.PHONE_NUMBER_LABEL"
            placeholder="USER_FORM.PHONE_NUMBER_PLACEHOLDER" [errorMessages]="{
        required: 'USER_FORM.PHONE_NUMBER_REQUIRED',
        pattern: 'USER_FORM.PHONE_NUMBER_PATTERN'
      }">
          </app-form-field>
        </div>

        <!-- Country -->
        <div class="w-[50%]">
          <app-form-field [control]="form['country']" label="USER_FORM.COUNTRY_LABEL"
            placeholder="USER_FORM.COUNTRY_PLACEHOLDER" [errorMessages]="{
        required: 'USER_FORM.COUNTRY_REQUIRED',
        pattern: 'USER_FORM.COUNTRY_PATTERN',
        minlength: 'USER_FORM.COUNTRY_MINLENGTH'
      }">
          </app-form-field>
        </div>

      </div>

      <!-- Email -->
      <app-form-field [control]="form['email']" type="email" label="USER_FORM.EMAIL_LABEL"
        placeholder="USER_FORM.EMAIL_PLACEHOLDER" [errorMessages]="{
    required: 'USER_FORM.EMAIL_REQUIRED',
    email: 'USER_FORM.EMAIL_INVALID'
  }">
      </app-form-field>

      <!-- Password -->
      <app-form-field [control]="form['password']" type="password" label="USER_FORM.PASSWORD_LABEL"
        placeholder="USER_FORM.PASSWORD_PLACEHOLDER" [errorMessages]="{
          required: 'USER_FORM.PASSWORD_REQUIRED',
          pattern: 'USER_FORM.PASSWORD_PATTERN'
        }" autocomplete="off">
      </app-form-field>

      <!-- Confirm Password -->
      <app-form-field [control]="form['confirmPassword']" type="password" label="USER_FORM.CONFIRM_PASSWORD_LABEL"
        placeholder="USER_FORM.CONFIRM_PASSWORD_PLACEHOLDER" [errorMessages]="{
    required: 'USER_FORM.CONFIRM_PASSWORD_REQUIRED'
  }" [customError]="
    registerForm.hasError('passwordMismatch') &&
    form['confirmPassword'].touched
  " customErrorMessage="USER_FORM.PASSWORD_MISMATCH">
      </app-form-field>
      <div class="mb-[2rem]">
        <label class="text-primary font-normal mb-2 block">{{ 'USER_FORM.ROLE_LABEL' | translate }}</label>

        <p-select appendTo="body" id="status" formControlName="role" [options]="rolesOption" optionLabel="label"
          optionValue="value" [placeholder]="'USER_FORM.ROLE_PLACEHOLDER' | translate" class="w-full">
        </p-select>
        @if (form['role'].touched && form['role'].errors?.['required']) {
        <small class="text-red-500">{{ 'USER_FORM.ROLE_REQUIRED' | translate }}</small>
        }
      </div>

      <div class="mt-[50px]">
        <p-button type="submit" [label]="'COMMON.CREATE' | translate" [disabled]="loading" [loading]="loading"
          (click)="save()" styleClass="w-full">
        </p-button>
      </div>
    </form>
  </div>
</p-dialog>
