<p-dialog [modal]="true" [(visible)]="visible" [style]="{ width: '550px' }"
  [style]="{ width: '40rem', maxWidth: '95vw' }" [breakpoints]="{
    '1280px': '70vw',
    '1024px': '80vw',
    '768px': '90vw',
    '640px': '95vw',
  }" (onHide)="onHide()">
  <ng-template pTemplate="header">
    <div class="flex items-center gap-2">
      <i class="pi pi-eye text-gray-400 dark:text-text-secondary"></i>
      <span class="font-md">{{ 'USER_FORM.HEADER' | translate }}</span>
    </div>
  </ng-template>
  <div class="user-form">
    <form class="pb-10" [formGroup]="registerForm">
      <div class="">
        <div class="profile-upload-wrapper mx-auto">
          <p-fileupload #fu chooseIcon="pi pi-upload" accept="image/*" maxFileSize="1000000" [customUpload]="true"
            [auto]="true" (onSelect)="onSelect($event)" (onClear)="onClear()" class="profile-upload" aria-required />
        </div>
        @if (form['profileImage'].touched && form['profileImage'].invalid) {
        <small class="text-red-500 my-2">{{ 'USER_FORM.PROFILE_IMAGE_REQUIRED' | translate }}</small>
        }
      </div>

      <div class="mb-[2rem] mt-7">
        <label class="text-primary font-normal mb-2 block">{{ 'USER_FORM.USER_NAME_LABEL' | translate }}</label>
        <input pInputText class="w-full" [placeholder]="'USER_FORM.USER_NAME_PLACEHOLDER' | translate"
          formControlName="userName" />

        @if (form['userName'].touched && form['userName'].errors?.['required']) {
        <small class="text-red-500">{{ 'USER_FORM.USER_NAME_REQUIRED' | translate }}</small>
        }

        @if (form['userName'].touched && form['userName'].errors?.['minlength']) {
        <small class="text-red-500">{{ 'USER_FORM.USER_NAME_MINLENGTH' | translate }}</small>
        }
        @if (form['userName'].touched && form['userName'].errors?.['maxLength']) {
        <small class="text-red-500">{{ 'USER_FORM.USER_NAME_MAXLENGTH' | translate }}</small>
        }
      </div>
      <div class="mb-[2rem] flex justify-content-between align-items-center gap-3">
        <div class="w-[50%]">
          <label class="text-primary font-normal mb-2 block">{{ 'USER_FORM.PHONE_NUMBER_LABEL' | translate }}</label>
          <input pInputText class="w-full" [placeholder]="'USER_FORM.PHONE_NUMBER_PLACEHOLDER' | translate"
            formControlName="phoneNumber" />

          @if (form['phoneNumber'].touched && form['phoneNumber'].errors?.['required']) {
          <small class="text-red-500">{{ 'USER_FORM.PHONE_NUMBER_REQUIRED' | translate }}</small>
          }

          @if (form['phoneNumber'].touched && form['phoneNumber'].errors?.['pattern']) {
          <small class="text-red-500">{{ 'USER_FORM.PHONE_NUMBER_PATTERN' | translate }}</small>
          }
        </div>
        <div class="w-[50%]">
          <label class="text-primary font-normal mb-2 block">{{ 'USER_FORM.COUNTRY_LABEL' | translate }}</label>
          <input pInputText class="w-full" [placeholder]="'USER_FORM.COUNTRY_PLACEHOLDER' | translate"
            formControlName="country" />

          @if (form['country'].touched && form['country'].errors?.['required']) {
          <small class="text-red-500">{{ 'USER_FORM.COUNTRY_REQUIRED' | translate }}</small>
          }

          @if (form['country'].touched && form['country'].errors?.['pattern']) {
          <small class="text-red-500">{{ 'USER_FORM.COUNTRY_PATTERN' | translate }}</small>
          }
          @if (form['country'].touched && form['country'].errors?.['minlength']) {
          <small class="text-red-500">{{ 'USER_FORM.COUNTRY_MINLENGTH' | translate }}</small>
          }
        </div>
      </div>
      <div class="mb-[2rem]">
        <label class="text-primary font-normal mb-2 block">{{ 'USER_FORM.EMAIL_LABEL' | translate }}</label>
        <input pInputText class="w-full" [placeholder]="'USER_FORM.EMAIL_PLACEHOLDER' | translate"
          formControlName="email" />

        @if (form['email'].touched && form['email'].errors?.['required']) {
        <small class="text-red-500">{{ 'USER_FORM.EMAIL_REQUIRED' | translate }}</small>
        }

        @if (form['email'].touched && form['email'].errors?.['email']) {
        <small class="text-red-500">{{ 'USER_FORM.EMAIL_INVALID' | translate }}</small>
        }
      </div>

      <div class="mb-[2rem]">
        <label class="text-primary font-normal mb-2 block">{{ 'USER_FORM.PASSWORD_LABEL' | translate }}</label>
        <p-password formControlName="password" [toggleMask]="true"
          [placeholder]="'USER_FORM.PASSWORD_PLACEHOLDER' | translate" styleClass="w-full" inputStyleClass="w-full"
          autocomplete="off">
        </p-password>

        @if (form['password'].touched && form['password'].errors?.['required']) {
        <small class="text-red-500">{{ 'USER_FORM.PASSWORD_REQUIRED' | translate }}</small>
        }

        @if (form['password'].touched && form['password'].errors?.['pattern']) {
        <small class="text-red-500">{{ 'USER_FORM.PASSWORD_PATTERN' | translate }}</small>
        }
      </div>
      <div class="mb-[2rem]">
        <label class="text-primary font-normal mb-2 block">{{ 'USER_FORM.CONFIRM_PASSWORD_LABEL' | translate }}</label>
        <p-password formControlName="confirmPassword" [toggleMask]="true"
          [placeholder]="'USER_FORM.CONFIRM_PASSWORD_PLACEHOLDER' | translate" styleClass="w-full"
          inputStyleClass="w-full">
        </p-password>

        @if (form['confirmPassword'].touched && form['confirmPassword'].errors?.['required']) {
        <small class="text-red-500">{{ 'USER_FORM.CONFIRM_PASSWORD_REQUIRED' | translate }}</small>
        }

        @if (form['confirmPassword'].touched && registerForm.errors?.['passwordMismatch']) {
        <small class="text-red-500">{{ 'USER_FORM.PASSWORD_MISMATCH' | translate }}</small>
        }
      </div>
      <div class="mb-[2rem]">
        <label class="text-primary font-normal mb-2 block">{{ 'USER_FORM.ROLE_LABEL' | translate }}</label>

        <p-select appendTo="body" id="status" formControlName="role" [options]="rolesOption" optionLabel="label"
          optionValue="value" [placeholder]="'USER_FORM.ROLE_PLACEHOLDER' | translate" class="w-full">
        </p-select>
        @if (form['role'].touched && form['role'].errors?.['required']) {
        <small class="text-red-500">{{ 'USER_FORM.ROLE_REQUIRED' | translate }}</small>
        }
      </div>

      <div class="mt-[50px]">
        <p-button type="submit" [label]="'COMMON.CREATE' | translate" [disabled]="loading" [loading]="loading"
          (click)="save()" styleClass="w-full">
        </p-button>
      </div>
    </form>
  </div>
</p-dialog>