<p-toast />
@if (isLoading()) {
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-[50px] mb-6">
    <p-skeleton height="156px" width="330px" />
    <p-skeleton height="156px" width="330px" />
    <p-skeleton height="156px" width="330px" />
  </div>
  <div class="grid grid-cols-2 md:grid-cols-2 gap-6 mt-[20px]">
    <p-skeleton width="470px" height="200px" />
    <p-skeleton width="470px" height="200px" />
  </div>
} @else {
  <div class="admin-dashboard">
    @if (mainData(); as data) {
      <div class="admin-dashboard_wrapper min-h-screen p-4 md:p-6">
        <!-- Stat Cards -->
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-[50px] mb-6">
          <app-statics-card [entityValue]="data.rooms" [entityName]="'Rooms'"> </app-statics-card>
          <app-statics-card [entityValue]="data.facilities" [entityName]="'Facilities'">
          </app-statics-card>
          <app-statics-card [entityValue]="data.ads" [entityName]="'Ads'"> </app-statics-card>
        </div>

        <div class="grid grid-cols-2 md:grid-cols-2 gap-6 mt-[20px]">
          <app-user-chart
            [data]="[
              { label: 'Pending', value: data.bookings.pending, color: '#5368F0' },
              { label: 'Completed', value: data.bookings.completed, color: '#9D57D5' },
            ]"
          />
          <div class="card">
            <app-user-chart
              title="Users"
              [data]="[
                { label: 'User', value: data.users.user, color: '#4ade80' },
                { label: 'Admin', value: data.users.admin, color: '#60a5fa' },
              ]"
              cutout="90%"
            />
          </div>
        </div>
      </div>
    }
  </div>
}
