<section class="hero py-[60px] mb-8">
  <div class="container mx-auto px-4 flex flex-col gap-8 md:grid md:grid-cols-2 md:gap-10 items-center">

    <!-- Text & booking column -->
    <div class="flex flex-col gap-6 max-w-xl">
      <div class="flex flex-col gap-4">
        <h1 class="text-2xl md:text-3xl lg:text-[42px] font-bold leading-tight text-primary">
          {{ 'HOME.HERO.TITLE_LINE_1' | translate }} <br> <span>{{ 'HOME.HERO.TITLE_LINE_2' | translate }}</span>
        </h1>
        <p class="text-gray-400 text-base md:text-lg leading-relaxed">
              {{ 'HOME.HERO.DESCRIPTION' | translate }}
        </p>
      </div>

      <!-- Booking card -->
      <div class="flex flex-col mt-8">
        <span class="font-semibold text-[20px] text-primary">{{ 'HOME.HERO.START_BOOKING' | translate }}</span>
        <span class="text-base font-regular text-primary block mt-2">{{ 'HOME.HERO.PICK_DATE' | translate }}</span>

        <!-- Start / End Date -->
        <div class="flex">
          <label class="text-xs font-medium text-gray-500 uppercase tracking-wide date-icon block">
            <img src="/images/ic_calendar.png" alt="icon">
          </label>

          <p-datepicker [(ngModel)]="dateRange" selectionMode="range" dateFormat="dd/mm/yy"
            [placeholder]="'HOME.HERO.DATE_PLACEHOLDER' | translate" [readonlyInput]="true" class="w-full">
          </p-datepicker>
        </div>

        <!-- Capacity (horizontal) -->
        <div class="pt-2 mt-4 border-t border-gray-100 mb-[2rem]">
          <span class="font-regular text-primary block mb-2">  {{ 'HOME.HERO.CAPACITY' | translate }} </span>

          <p-inputnumber [(ngModel)]="value1" [showButtons]="true" buttonLayout="horizontal" spinnerMode="horizontal"
            inputId="horizontal" decrementButtonClass="p-button-outlined p-button-sm"
            incrementButtonClass="p-button-outlined p-button-sm" class="w-full"
            [inputStyle]="{ width: '3rem', 'text-align': 'center' }">
            <ng-template #incrementbuttonicon>
              <span class="pi pi-plus"></span>
            </ng-template>
            <ng-template #decrementbuttonicon>
              <span class="pi pi-minus"></span>
            </ng-template>
          </p-inputnumber>
        </div>

        <!-- CTA -->
        <p-button  [label]="'HOME.HERO.EXPLORE' | translate" [loading]="loadingSearch" (onClick)="filterByDate()" styleClass="px-5 w-50 mt-1">
        </p-button>
      </div>
    </div>

    <!-- Image column -->
    <div class="w-full flex justify-center md:justify-end">
      <div class="img-container w-full max-w-md md:max-w-full">
        <img src="/images/hero.png" alt="hero" class="w-full h-auto object-contain rounded-2xl rtl:transform rtl:scale-x-[-1]" />
      </div>
    </div>
  </div>
</section>
