<app-auth-layout>
  <div class="h-full" auth-form>

    <!--Header Component-->
    <app-auth-header title="Sign Up" description="If you already have an account register " subText="You can"
      linkText="Login here !" linkUrl="/auth/login">
    </app-auth-header>

    <!--Start Of Form-->
    <form [formGroup]="registerForm" (ngSubmit)="onRegister()" class="pb-10">
      <div class="">
        <div class="profile-upload-wrapper mx-auto">
          <p-fileupload #fu chooseIcon="pi pi-upload" accept="image/*" maxFileSize="1000000" [customUpload]="true"
            [auto]="true" (onSelect)="onSelect($event)" (onClear)="onClear()" class="profile-upload" aria-required />
        </div>
        @if (f['profileImage'].touched && f['profileImage'].invalid) {
        <small class="text-login-red my-2">Profile image is required</small>
        }
      </div>

      <div class="mb-[2rem] mt-7">
        <label class="text-primary font-normal mb-2 block">User Name</label>
        <input pInputText class="w-full" placeholder="Please type here ..." formControlName="userName" />

        @if (f['userName'].touched && f['userName'].errors?.['required']) {
        <small class="text-login-red"> userName is required </small>
        }

        @if (f['userName'].touched && f['userName'].errors?.['minLength']) {
        <small class="text-login-red"> Username must be at least 3 characters </small>
        }
        @if (f['userName'].touched && f['userName'].errors?.['maxLength']) {
        <small class="text-login-red"> Username cannot exceed 20 characters </small>
        }
      </div>
      <div class="mb-[2rem] flex justify-content-between align-items-center gap-3">
        <div class="w-[50%]">
          <label class="text-primary font-normal mb-2 block">Phone Number</label>
          <input pInputText class="w-full" placeholder="Please type here " formControlName="phoneNumber" />

          @if (f['phoneNumber'].touched && f['phoneNumber'].errors?.['required']) {
          <small class="text-login-red"> phone Number is required </small>
          }

          @if (f['phoneNumber'].touched && f['phoneNumber'].errors?.['pattern']) {
          <small class="text-login-red"> Must start with 010, 011, 012, or 015 (11 digits) </small>
          }
        </div>
        <div class="w-[50%]">
          <label class="text-primary font-normal mb-2 block">Country</label>
          <input pInputText class="w-full" placeholder="Please type here ." formControlName="country" />

          @if (f['country'].touched && f['country'].errors?.['required']) {
          <small class="text-login-red">country is required </small>
          }

          @if (f['country'].touched && f['country'].errors?.['pattern']) {
          <small class="text-login-red"> Country name must contain letters only </small>
          }
          @if (f['country'].touched && f['country'].errors?.['minlength']) {
          <small class="text-login-red"> Country name is too short </small>
          }
        </div>
      </div>
      <div class="mb-[2rem]">
        <label class="text-primary font-normal mb-2 block">Email Address</label>
        <input pInputText class="w-full" placeholder="Email" formControlName="email" />

        @if (f['email'].touched && f['email'].errors?.['required']) {
        <small class="text-login-red"> Email is required </small>
        }

        @if (f['email'].touched && f['email'].errors?.['email']) {
        <small class="text-login-red"> Invalid email format </small>
        }
      </div>

      <div class="mb-[2rem]">
        <label class="text-primary font-normal mb-2 block">Password</label>
        <p-password formControlName="password" [toggleMask]="true" placeholder="Password" styleClass="w-full"
          inputStyleClass="w-full" autocomplete="off">
        </p-password>

        @if (f['password'].touched && f['password'].errors?.['required']) {
        <small class="text-login-red"> Password is required </small>
        }

        @if (f['password'].touched && f['password'].errors?.['pattern']) {
        <small class="text-login-red">
          Password must contain uppercase, lowercase, special character and minimum 6 characters
        </small>
        }
      </div>
      <div class="mb-[2rem]">
        <label class="text-primary font-normal mb-2 block">Confirm Password</label>
        <p-password formControlName="confirmPassword" [toggleMask]="true" placeholder="confirm Password"
          styleClass="w-full" inputStyleClass="w-full">
        </p-password>

        @if (f['confirmPassword'].touched && f['confirmPassword'].errors?.['required']) {
        <small class="text-login-red"> confirm Password is required </small>
        }

        @if (f['confirmPassword'].touched && registerForm.errors?.['passwordMismatch']) {
        <small class="text-login-red">Passwords do not match.</small>
        }
      </div>

      <div class="mt-[50px]">
        <p-button type="submit" label="Sign up" [loading]="isLoading" styleClass="w-full">
        </p-button>
      </div>
    </form>
  </div>

  <!-- IMAGE SLOT -->
  <div auth-image class="w-full h-full">
    <app-auth-image-section imageSrc="/images/register.jpg" imageAlt="Login" title="Sign up to Roamhome"
      subtitle="Homes as unique as you.">
    </app-auth-image-section>
  </div>

</app-auth-layout>
