<div [routerLink]="`rooms/${room._id}`"
  class="bg-white h-full rounded-2xl overflow-hidden cursor-pointer  hover:shadow-md transition-all duration-300 hover:-translate-y-1 cursor-pointer">

  <!-- Room Image -->
  <div class="relative">
    <img [src]="room.images[0]" (error)="onImageError($event)" [alt]="'Room ' + room.roomNumber"
      class="w-full h-60 object-cover" />

    <!-- Popular Choice Badge -->
    @if (room.discount) {
    <span class="absolute top-0 end-0 rtl:end-100 flex items-center justify-center bg-[#FF498B] text-white
         px-3 py-1.5 text-base font-medium leading-[170%] room-discount">
      {{ room.discount }}% <span class="mx-2 inline-block " style="font-weight: 200;"> OFF </span>
    </span>
    }

  </div>

  <!-- Content -->
  <div class="p-5">
    <!-- Room Number -->
    <div class="flex items-center justify-between mb-2">
      <h3 class="text-[20px] font-regular text-primary">
        Room #{{ room.roomNumber }}
      </h3>
    </div>

    <!-- Description -->
    <div class="flex flex-wrap gap-2 mb-2">
      @for (facility of room.facilities; track facility) {
      <span class="px-2 py-1 text-xs bg-gray-100 text-gray-700 rounded-full">
        {{ facility.name }}
      </span>
      }
    </div>

  </div>

</div>
