<!-- Mobile overlay -->
<div class="fixed inset-0 bg-black/50 z-40 transition-opacity duration-300" [class.opacity-100]="isMobileOpen$ | async"
  [class.visible]="isMobileOpen$ | async" [class.opacity-0]="!(isMobileOpen$ | async)"
  [class.invisible]="!(isMobileOpen$ | async)" (click)="navbarUiService.closeMobileMenu()">
</div>

<!-- Sidebar -->
<aside class="sidebar"  [class.mobile-open]="(isMobileOpen$ | async)">
  <nav class="nav-section  d-flex flex-column h-100 justify-content-between">
    <ul class="nav">
       @for (item of navMenu; track item.routerNavigate) {
        <li  (click)="onNavItemClick()">
          <a class="nav-item" [routerLink]="item.routerNavigate" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: item.routerNavigate === '/dashboard'}">
            <span class="span-hover">
              <i class="nav-icon me-2" [class]="item.icon"></i>
              <span class="nav-text text-capitalize">
                {{ item.label | translate }}
              </span>
            </span>
          </a>
        </li>
       }
    </ul>
  </nav>
</aside>
