<form [formGroup]="roomForm" class="max-w-4xl mx-auto p-6">

  <!-- Room Number -->
  <div class="mb-5">
    <input
      pInputText
      formControlName="roomNumber"
      placeholder="Room Number"
      class="w-full">
  </div>

  <!-- Price & Capacity -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-5 mb-5">

    <p-inputNumber
      formControlName="price"
      placeholder="Price"
      styleClass="w-full">
    </p-inputNumber>

    <p-inputNumber
      formControlName="capacity"
      placeholder="Capacity"
      styleClass="w-full">
    </p-inputNumber>

  </div>

  <!-- Discount & Facilities -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-5 mb-5">

    <p-inputNumber
      formControlName="discount"
      placeholder="Discount"
      styleClass="w-full">
    </p-inputNumber>

    <p-select
      [options]="facilities"
      optionLabel="name"
      optionValue="id"
      placeholder="Select Facility"
      formControlName="facility"
      class="w-full">
    </p-select>

  </div>

  <!-- Upload -->
  <p-fileUpload
    mode="advanced"
    [multiple]="true"
    chooseLabel="Choose Room Images"
    dragDropSupport="true"
    [showUploadButton]="false"
    [showCancelButton]="false">
  </p-fileUpload>

</form>
