<p-dialog
  [header]="(isEditMode ? 'FACILITY_FORM.EDIT_TITLE' : 'FACILITY_FORM.ADD_TITLE') | translate"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '450px' }"
  (onHide)="onHide()"
>
  <ng-template pTemplate="header">
    <div class="flex items-center gap-2">
      <i class="pi pi-plus text-gray-400 dark:text-text-secondary"></i>
      <span class="font-semibold text-base"
        >{{ (isEditMode ? 'FACILITY_FORM.EDIT_HEADER' : 'FACILITY_FORM.ADD_TITLE') | translate }}
      </span>
    </div>
  </ng-template>

  <div class="flex flex-col gap-4 p-1">
    <div class="flex flex-col gap-2">
      <label class="text-sm text-gray-600 dark:text-text-secondary">{{ 'FACILITY_FORM.NAME_LABEL' | translate }}</label>
      <input
        pInputText
        [(ngModel)]="facilityName"
        [placeholder]="'FACILITY_FORM.NAME_PLACEHOLDER' | translate"
        class="w-full"
      />
    </div>

    <div class="flex justify-end gap-2 pt-2">
      <p-button
        [label]="(isEditMode ? 'FACILITY_FORM.UPDATE' : 'FACILITY_FORM.SAVE') | translate"
        [loading]="loading"
        (click)="save()"
      />
    </div>
  </div>
</p-dialog>
