<app-website-page-heading
  [title]="'ROOM_DETAILS.TITLE' | translate: { number: roomDetails()?.data?.room?.roomNumber }"
  [description]="
    'ROOM_DETAILS.GUESTS_COUNT' | translate: { count: roomDetails()?.data?.room?.capacity }
  "
  [breadcrumbs]="breadcrumbs"
>
</app-website-page-heading>
<!-- Review & Comment -->
<div class="flex flex-col md:flex-row gap-6 md:gap-0 items-stretch">
  <div class="flex-1">
    <app-reviews [roomId]="roomId"></app-reviews>
  </div>

  <div class="hidden md:block w-px bg-gray-200 mx-6"></div>

  <div class="flex-1">
    <app-comments [roomId]="roomId"></app-comments>
  </div>
</div>
