<div class="group relative overflow-hidden rounded-2xl shadow-md transition-all
      duration-300 hover:-translate-y-2 hover:shadow-2xl cursor-pointer h-full flex-grow-1">

  <!-- Image (fills entire card) -->
  <img [src]="room.images[0]" [alt]="room.roomNumber" (error)="onImageError($event)"
    class=" group absolute inset-0 h-full w-full object-cover transition duration-500 group-hover:scale-110" />

  <!-- Base gradient so title stays readable even without hover -->
  <div class="absolute inset-0 bg-gradient-to-t from-black/70 via-black/10 to-transparent"></div>

  <!-- Dark overlay on hover -->
  <div class="absolute inset-0 bg-black/50 opacity-0 transition duration-300 group-hover:opacity-100"></div>

  <!-- Status Badge -->
  <span class="absolute top-0 end-0 flex items-center justify-center bg-[#FF498B] text-white
         px-3 py-1.5 text-base font-medium leading-[170%] room-discount">
    {{ room.price }}
    <span class="mx-2 inline-block" style="font-weight: 200;">
      {{ "ROOM_DETAILS.PER_NIGHT" | translate }}
    </span>
  </span>

  <!-- Hover Icons -->
  <div
    class="absolute inset-0 z-10 flex items-center justify-center gap-2 opacity-0 transition duration-300 group-hover:opacity-100">
    <button pButton pRipple rounded icon="pi pi-eye" [routerLink]="`/rooms/${room._id}`"
      [pTooltip]="'ROOM_CARD.VIEW_DETAILS' | translate" tooltipPosition="top"></button>

    <button pButton pRipple icon="pi pi-heart-fill" [class.is-favorite]="isFavorite"
      (click)="onToggleFavorite(); $event.stopPropagation()" [pTooltip]="(isFavorite
      ? 'ROOM_CARD.REMOVE_FROM_WISHLIST'
      : 'ROOM_CARD.ADD_TO_WISHLIST') | translate" tooltipPosition="top">
    </button>
  </div>

  <!-- Title (bottom of image) -->
  <div class="absolute bottom-[-10px] inset-x-0 z-10 p-3">
    <h3 class="line-clamp-1 text-[20px] font-regular text-white">
      {{ 'ROOMS.ROOM' | translate }} #{{room.roomNumber }}
    </h3>
    <div class="flex flex-wrap gap-2 mb-5">
      @for (facility of room.facilities; track facility._id; let last = $last) {
      <span class="py-1 text-[15px] text-white font-[200]">
        {{ facility.name }}@if (!last) {,}
      </span>
      }
    </div>
  </div>

</div>
