<form id="roomForm" [formGroup]="roomForm" class="max-w-4xl mx-auto pt-8 p-6" (ngSubmit)="save()">
  <!-- add-edit button -->
  <div class="flex justify-end mb-8">
    <p-button
      type="submit"
      [label]="roomId ? 'Update Room' : 'Add New Room'"
      [loading]="loading"
      [disabled]="loading"
    >
    </p-button>
  </div>

  <!-- Room Number -->
  <div class="mb-5">
    <input pInputText formControlName="roomNumber" placeholder="Room Number" class="w-full" />
  </div>

  <!-- Price & Capacity -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-5 mb-5">
    <p-inputNumber formControlName="price" placeholder="Price" styleClass="w-full"> </p-inputNumber>

    <p-inputNumber formControlName="capacity" placeholder="Capacity" styleClass="w-full">
    </p-inputNumber>
  </div>

  <!-- Discount & Facilities -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-5 mb-5">
    <p-inputNumber formControlName="discount" placeholder="Discount" styleClass="w-full">
    </p-inputNumber>

    <p-multiselect
      [options]="facilities()"
      optionLabel="name"
      optionValue="_id"
      formControlName="facilities"
      placeholder="Select Facilities"
      class="w-full"
    >
    </p-multiselect>
  </div>

  <!-- Upload -->
  <p-fileUpload
    #fileUpload
    mode="advanced"
    [multiple]="true"
    [showUploadButton]="false"
    [showCancelButton]="false"
    (onSelect)="onSelectFiles($event)"
  >
    <ng-template pTemplate="content">
      <div class="upload-area" (click)="fileUpload.choose()">
        <i class="pi pi-upload text-4xl mb-4"></i>

        <p>
          Drag & Drop or
          <span class="text-green-600 font-medium"> Choose a Room Images </span>
          to Upload
        </p>
      </div>
    </ng-template>
  </p-fileUpload>

  <div class="flex gap-3 mt-3 flex-wrap">
    <!-- new imgs -->
    @for (img of previewUrls; track img; let i = $index) {
      <div class="relative">
        <img [src]="img" class="w-20 h-20 object-cover rounded border" />

        <button
          type="button"
          class="absolute -top-2 -right-2 bg-red-500 text-white rounded-full w-5 h-5 flex items-center justify-center text-xs"
          (click)="removeSelectedImage(i)"
        >
          <i class="pi pi-times"></i>
        </button>
      </div>
    }

    <!-- old imgs -->
    @if (existingImages.length) {
      @for (img of existingImages; track img; let i = $index) {
        <div class="relative">
          <img [src]="img" class="w-20 h-20 object-cover rounded border" />

          <button
            type="button"
            class="absolute -top-2 -right-2 bg-red-500 text-white rounded-full w-5 h-5 flex items-center justify-center text-xs"
            (click)="removeExistingImage(i)"
          >
            <i class="pi pi-times"></i>
          </button>
        </div>
      }
    }
  </div>
</form>
