<div class="flex flex-col sm:flex-row justify-between items-start sm:items-center gap-4 py-4 w-full px-6">
  <div>
    <h1 class="text-xl font-bold text-slate-800">{{ title }}</h1>
    <p class="text-sm text-slate-500 mt-1">{{ description }}</p>
  </div>

  @if(linkUrl && showButton){
  <button [routerLink]="linkUrl"
    class="bg-indigo-600 hover:bg-indigo-700 text-white font-medium px-6 py-2.5 rounded-lg transition-all text-sm shadow-sm">
    {{ linkLabel }}
  </button>
  }
  @else if(showButton) {
  <button (click)="onButtonClick()"
    class="bg-indigo-600 hover:bg-indigo-700 text-white font-medium px-6 py-2.5 rounded-lg transition-all text-sm shadow-sm">
    {{ buttonLabel }}
  </button>
  }

</div>
