<div class="w-full min-h-screen">
  <!-- Page Header -->
  <div class="mb-6">
    <app-page-header title="List Users Table " buttonLabel="Add New User"></app-page-header>
  </div>
  @if (isLoading()) {
    <app-table-skeleton
      [rows]="5"
      [columns]="[
        { header: 'room Number' },
        { header: 'Price' },
        { header: 'Start Date' },
        { header: 'End Date' },
        { header: 'User' },
      ]"
    >
    </app-table-skeleton>
  } @else if (userList().length === 0) {
    <div class="w-full py-12 flex flex-col justify-center items-center bg-white">
      <app-empty-state [elementName]="'users'"></app-empty-state>
    </div>
  } @else {
    <!-- users List -->
    <div class="w-full bg-white rounded-2xl shadow-sm border border-gray-100 overflow-hidden">
      <p-table
        [value]="userList()"
        [tableStyle]="{ 'min-width': '60rem' }"
        styleClass="p-datatable-custom"
      >
        <ng-template pTemplate="header">
          <tr class="!bg-[#e9ecef]/50 border-b border-gray-100">
            <th
              class="!bg-transparent !text-slate-700 !font-semibold !py-4 !px-6 !text-sm text-left"
            >
              Name
            </th>
            <th
              class="!bg-transparent !text-slate-700 !font-semibold !py-4 !px-6 !text-sm text-left"
            >
              email
            </th>
            <th
              class="!bg-transparent !text-slate-700 !font-semibold !py-4 !px-6 !text-sm text-left"
            >
              role
            </th>
            <th
              class="!bg-transparent !text-slate-700 !font-semibold !py-4 !px-6 !text-sm text-left"
            >
              country
            </th>
            <th
              class="!bg-transparent !text-slate-700 !font-semibold !py-4 !px-6 !text-sm text-left"
            >
              stauts
            </th>
            <th
              class="!bg-transparent !text-slate-700 !font-semibold !py-4 !px-6 !text-sm text-left"
            >
              created Date
            </th>
            <th
              class="!bg-transparent !text-slate-700 !font-semibold !py-4 !px-6 !text-sm text-left"
            >
              updated Date
            </th>
            <th class="!bg-transparent !py-4 !px-6 w-16"></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-user>
          <tr class="border-b border-gray-100/70 hover:bg-slate-50/50 transition-colors">
            <td class="py-4 px-6 text-sm font-medium text-gray-700">{{ user.userName }}</td>

            <td class="py-4 px-6 text-sm text-gray-500">{{ user.email }}</td>

            <td class="py-4 px-6 text-sm text-gray-500">{{ user.role }}</td>
            <td class="py-4 px-6 text-sm text-gray-500">{{ user.country }}</td>

            <td class="py-4 px-6 text-sm text-gray-500">
              <span
                class="px-2 py-1 rounded-full text-xs font-medium"
                [class]="user.verified ? 'bg-green-50 text-green-600' : 'bg-red-100 text-red-500'"
              >
                {{ user.verified ? 'Active' : 'Inactive' }}
              </span>
            </td>
            <td class="py-4 px-6 text-sm text-gray-500">{{ user.createdAt }}</td>
            <td class="py-4 px-6 text-sm text-gray-500">{{ user.updatedAt }}</td>
            <td class="py-4 px-6 text-center">
              <p-button
                icon="pi pi-eye"
                [text]="true"
                [rounded]="true"
                (click)="onOpenViewDialog(user)"
              >
              </p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="flex items-center mt-7 justify-center">
      <!-- Paginator -->
      <p-paginator
        [first]="(currentPage - 1) * pageSize"
        [rows]="pageSize"
        [totalRecords]="totalRecords"
        [rowsPerPageOptions]="[10, 20, 30]"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="{first} - {last} of {totalRecords}"
        (onPageChange)="onPageChange($event)"
      >
      </p-paginator>
    </div>
  }
  <app-user-view
    [userInfo]="sendUser()"
    [visible]="visible()"
    [loading]="userLoading()"
  ></app-user-view>
</div>
