<app-auth-layout>
  <div class="h-full" auth-form>
    <!-- Header -->
    <app-auth-header [title]="'FORGOT.TITLE' | translate" [description]="'FORGOT.DESCRIPTION' | translate"
      [linkText]="'FORGOT.LINK_TEXT' | translate" linkUrl="/auth/login">
    </app-auth-header>

    <!-- Form -->
    <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
      <!-- Email -->
      <div class="mb-[2rem]">
        <label class="text-primary font-normal mb-2 block">
          {{ 'LOGIN.EMAIL_LABEL' | translate }}
        </label>

        <input id="email" name="email" pInputText class="w-full" [placeholder]="'LOGIN.EMAIL_LABEL' | translate"
          formControlName="email" />

        @if (form['email']?.invalid && (form['email']?.touched || form['email']?.dirty) ) {
        @if(form['email'].errors?.['required']){
        <small class="text-login-red"> {{ 'LOGIN.EMAIL_REQUIRED' | translate }} </small>
        }
        @else{
        <small class="text-login-red"> {{ 'LOGIN.EMAIL_INVALID' | translate }} </small>
        }
        }
      </div>

      <!-- Submit -->
      <div class="mt-[50px]">
        <p-button type="submit" [label]="'FORGOT.BUTTON' | translate" [loading]="isLoading" styleClass="w-full">
        </p-button>
      </div>
    </form>
  </div>

  <!-- Image -->
  <div auth-image class="w-full h-full">
    <app-auth-image-section imageSrc="/images/forgot.png" imageAlt="forgot Password"
      [title]="'FORGOT.TITLE' | translate" [subtitle]="'FORGOT.HEADER_SUBTITLE' | translate">
    </app-auth-image-section>
  </div>
</app-auth-layout>